.popupWarp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  z-index: 9999;
}

.popupCont {
  margin-top: 1%;
  max-width: 325px;
}

.rtl {
  direction: rtl;
}
.orderButtonBottom {
  background-color: #b070b1;
}

.exitButton {
  color: #b070b1;
}
.exitButton:hover {
  cursor: pointer;
}

.doggyImg {
  max-width: 320px;
  margin-bottom: -5px;
  margin-top: 20%;
}

.innerDoggyImg {
  margin: -52px;
}

@media only screen and (min-width: 1900px) and (min-height: 900px) {
  .popupCont {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .popupCont {
    margin-top: 5%;
    max-width: 320px;
  }

  .innerDoggyImg {
    margin: -51px;
  }
}

@media only screen and (max-width: 540px) {
  .popupCont {
    max-width: 280px;
  }

  .innerDoggyImg {
    margin: -46px;
  }
}
@media only screen and (max-width: 414px) {
  .popupCont {
    max-width: 280px;
  }

  .innerDoggyImg {
    margin: -48px;
  }
}

@media only screen and (max-width: 411px) {
  .innerDoggyImg {
    margin: -47px;
  }
}
@media only screen and (max-width: 375px) {
  .popupCont {
    max-width: 250px;
  }

  .innerDoggyImg {
    margin: -44px;
  }
}

@media only screen and (max-width: 360px) {
  .popupCont {
    max-width: 250px;
  }
  .innerDoggyImg {
    width: 70%;
    margin: -36px;
  }
}

@media only screen and (max-width: 320px) {
  .popupCont {
    max-width: 250px;
    max-height: 500px;
  }

  .innerDoggyImg {
    display: none;
  }
}

@media only screen and (max-width: 280px) {
  .popupCont {
    max-width: 280px;
  }
}
